# Data Gathering

In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("C:\\Users\\shree kalika\\OneDrive\\Desktop\\deta science\\ethilive\\python,machine learning\\files\\project machine learning\\classifuication project\\train_titanic.csv")
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
df=df1.drop(['PassengerId','Name','Cabin','Ticket'],axis=1)
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

# EDA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [5]:
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

# Preprocessing

In [6]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,OneHotEncoder,OrdinalEncoder
from sklearn.compose import ColumnTransformer

# Define x and y

In [8]:
x=df.drop(['Survived'],axis=1)
y=df['Survived']

In [9]:
cat=[]
con=[]
for i in x.columns:
    if x[i].dtypes=='object':
        cat.append(i)
    else:
        con.append(i)

In [10]:
cat

['Sex', 'Embarked']

In [11]:
con

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

# Pipeline

In [12]:
num_pipe=Pipeline(steps=[('impute',SimpleImputer(strategy='median')),('scaler',StandardScaler())])
cat_pipe=Pipeline(steps=[('impute',SimpleImputer(strategy="constant")),('encode',OrdinalEncoder())])
pre1=ColumnTransformer([('num_pipe',num_pipe,con),('cat_pipe',cat_pipe,cat)])
x1=pre1.fit_transform(x)
x1

array([[ 0.82737724, -0.56573646,  0.43279337, ..., -0.50244517,
         1.        ,  2.        ],
       [-1.56610693,  0.66386103,  0.43279337, ...,  0.78684529,
         0.        ,  0.        ],
       [ 0.82737724, -0.25833709, -0.4745452 , ..., -0.48885426,
         0.        ,  2.        ],
       ...,
       [ 0.82737724, -0.1046374 ,  0.43279337, ..., -0.17626324,
         0.        ,  2.        ],
       [-1.56610693, -0.25833709, -0.4745452 , ..., -0.04438104,
         1.        ,  0.        ],
       [ 0.82737724,  0.20276197, -0.4745452 , ..., -0.49237783,
         1.        ,  1.        ]])

In [13]:
col=pre1.get_feature_names_out()
col

array(['num_pipe__Pclass', 'num_pipe__Age', 'num_pipe__SibSp',
       'num_pipe__Parch', 'num_pipe__Fare', 'cat_pipe__Sex',
       'cat_pipe__Embarked'], dtype=object)

In [14]:
x2=pd.DataFrame(x1,columns=col)
x2

,num_pipe__Pclass,num_pipe__Age,num_pipe__SibSp,num_pipe__Parch,num_pipe__Fare,cat_pipe__Sex,cat_pipe__Embarked
0,0.827377,-0.565736,0.432793,-0.473674,-0.502445,1.0,2.0
1,-1.566107,0.663861,0.432793,-0.473674,0.786845,0.0,0.0
2,0.827377,-0.258337,-0.474545,-0.473674,-0.488854,0.0,2.0
3,-1.566107,0.433312,0.432793,-0.473674,0.420730,0.0,2.0
4,0.827377,0.433312,-0.474545,-0.473674,-0.486337,1.0,2.0
...,...,...,...,...,...,...,...
886,-0.369365,-0.181487,-0.474545,-0.473674,-0.386671,1.0,2.0
887,-1.566107,-0.796286,-0.474545,-0.473674,-0.044381,0.0,2.0
888,0.827377,-0.104637,0.432793,2.008933,-0.176263,0.0,2.0
889,-1.566107,-0.258337,-0.474545,-0.473674,-0.044381,1.0,0.0
890,0.827377,0.202762,-0.474545,-0.473674,-0.492378,1.0,1.0

# Feature Selection Using Mutual Information Gain

In [15]:
from sklearn.feature_selection import mutual_info_classif
mi=mutual_info_classif(x2,y)
mi

array([0.06914297, 0.02547659, 0.019105  , 0.02046349, 0.11631772,
       0.14926764, 0.00735856])

In [16]:
mi=pd.Series(mi)
mi.sort_values(ascending=False)

5    0.149268
4    0.116318
0    0.069143
1    0.025477
3    0.020463
2    0.019105
6    0.007359
dtype: float64

In [17]:
mi.index=x2.columns
mi.index

Index(['num_pipe__Pclass', 'num_pipe__Age', 'num_pipe__SibSp',
       'num_pipe__Parch', 'num_pipe__Fare', 'cat_pipe__Sex',
       'cat_pipe__Embarked'],
      dtype='object')

In [18]:
imp_cols=mi.sort_values(ascending=False)[0:5].index
imp_cols

Index(['cat_pipe__Sex', 'num_pipe__Fare', 'num_pipe__Pclass', 'num_pipe__Age',
       'num_pipe__Parch'],
      dtype='object')

# columns after Feature selection

In [19]:
x3=pd.DataFrame(x2,columns=imp_cols)    #output of feature selection
x3

,cat_pipe__Sex,num_pipe__Fare,num_pipe__Pclass,num_pipe__Age,num_pipe__Parch
0,1.0,-0.502445,0.827377,-0.565736,-0.473674
1,0.0,0.786845,-1.566107,0.663861,-0.473674
2,0.0,-0.488854,0.827377,-0.258337,-0.473674
3,0.0,0.420730,-1.566107,0.433312,-0.473674
4,1.0,-0.486337,0.827377,0.433312,-0.473674
...,...,...,...,...,...
886,1.0,-0.386671,-0.369365,-0.181487,-0.473674
887,0.0,-0.044381,-1.566107,-0.796286,-0.473674
888,0.0,-0.176263,0.827377,-0.104637,2.008933
889,1.0,-0.044381,-1.566107,-0.258337,-0.473674
890,1.0,-0.492378,0.827377,0.202762,-0.473674

In [20]:
x3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cat_pipe__Sex     891 non-null    float64
 1   num_pipe__Fare    891 non-null    float64
 2   num_pipe__Pclass  891 non-null    float64
 3   num_pipe__Age     891 non-null    float64
 4   num_pipe__Parch   891 non-null    float64
dtypes: float64(5)
memory usage: 34.9 KB

# Split the data from train and test

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x3,y,test_size=0.2,random_state=21)
x_train

,cat_pipe__Sex,num_pipe__Fare,num_pipe__Pclass,num_pipe__Age,num_pipe__Parch
793,1.0,-0.030371,-1.566107,-0.104637,-0.473674
23,1.0,0.066360,-1.566107,-0.104637,-0.473674
97,1.0,0.627278,-1.566107,-0.488887,0.767630
9,0.0,-0.042956,-0.369365,-1.180535,-0.473674
157,1.0,-0.486337,0.827377,0.049062,-0.473674
...,...,...,...,...,...
368,0.0,-0.492378,0.827377,-0.104637,-0.473674
48,1.0,-0.211918,0.827377,-0.104637,-0.473674
772,0.0,-0.437007,-0.369365,2.124008,-0.473674
824,1.0,0.150674,0.827377,-2.102733,0.767630
207,1.0,-0.270141,0.827377,-0.258337,-0.473674

# Model Building

# 1) Logistic Regression

In [22]:
from sklearn.linear_model import LogisticRegression
la=LogisticRegression()
la.fit(x_train,y_train)

LogisticRegression()

# Training Data Evaluation

In [23]:
y_pred_train=la.predict(x_train)

from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print('*'*50)
l_acc=accuracy_score(y_pred_train,y_train)
print('Accuracy:',l_acc)
print('*'*50)
l_cnf=confusion_matrix(y_pred_train,y_train)
print('Confusion matrix:\n',l_cnf)
print('*'*50)
l_clf=classification_report(y_pred_train,y_train)
print('Classification Report:\n',l_clf)
print('*'*50)

**************************************************
Accuracy: 0.7991573033707865
**************************************************
Confusion matrix:
 [[384  83]
 [ 60 185]]
**************************************************
Classification Report:
               precision    recall  f1-score   support

           0       0.86      0.82      0.84       467
           1       0.69      0.76      0.72       245

    accuracy                           0.80       712
   macro avg       0.78      0.79      0.78       712
weighted avg       0.80      0.80      0.80       712

**************************************************

# Testing Data Evaluation

In [24]:
y_pred=la.predict(x_test)
print('*'*50)
lts_acc=accuracy_score(y_pred,y_test)
print('Accuracy:',lts_acc)
print('*'*50)
lts_cnf=confusion_matrix(y_pred,y_test)
print('confusion_matrix:\n',lts_cnf)
print('*'*50)
lts_clf=classification_report(y_pred,y_test)
print('Classification_report:\n',lts_clf)
print('*'*50)

**************************************************
Accuracy: 0.7932960893854749
**************************************************
confusion_matrix:
 [[92 24]
 [13 50]]
**************************************************
Classification_report:
               precision    recall  f1-score   support

           0       0.88      0.79      0.83       116
           1       0.68      0.79      0.73        63

    accuracy                           0.79       179
   macro avg       0.78      0.79      0.78       179
weighted avg       0.81      0.79      0.80       179

**************************************************

# 2) Decision Tree

In [25]:
from sklearn.tree import DecisionTreeClassifier
dtr=DecisionTreeClassifier(random_state=23)
dtr.fit(x_train,y_train)

DecisionTreeClassifier(random_state=23)

# Training Data Evaluation

In [26]:
y_pred_train=dtr.predict(x_train)

#from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print('*'*50)
d_acc=accuracy_score(y_pred_train,y_train)
print('Accuracy:',d_acc)
print('*'*50)
d_cnf=confusion_matrix(y_pred_train,y_train)
print('Confusion matrix:\n',d_cnf)
print('*'*50)
d_clf=classification_report(y_pred_train,y_train)
print('Classification Report:\n',d_clf)
print('*'*50)

**************************************************
Accuracy: 0.9831460674157303
**************************************************
Confusion matrix:
 [[443  11]
 [  1 257]]
**************************************************
Classification Report:
               precision    recall  f1-score   support

           0       1.00      0.98      0.99       454
           1       0.96      1.00      0.98       258

    accuracy                           0.98       712
   macro avg       0.98      0.99      0.98       712
weighted avg       0.98      0.98      0.98       712

**************************************************

# Testing Data Evaluation

In [28]:
y_pred=dtr.predict(x_test)
print('*'*50)
dts_acc=accuracy_score(y_pred,y_test)
print('Accuracy:',dts_acc)
print('*'*50)
dts_cnf=confusion_matrix(y_pred,y_test)
print('confusion_matrix:\n',dts_cnf)
print('*'*50)
dts_clf=classification_report(y_pred,y_test)
print('Classification_report:\n',dts_clf)
print('*'*50)

**************************************************
Accuracy: 0.8100558659217877
**************************************************
confusion_matrix:
 [[91 20]
 [14 54]]
**************************************************
Classification_report:
               precision    recall  f1-score   support

           0       0.87      0.82      0.84       111
           1       0.73      0.79      0.76        68

    accuracy                           0.81       179
   macro avg       0.80      0.81      0.80       179
weighted avg       0.81      0.81      0.81       179

**************************************************

# 3)Random Forest

In [29]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(random_state=23)
rf.fit(x_train,y_train)

RandomForestClassifier(random_state=23)

# Training Data Evaluation

In [30]:
y_pred_train=rf.predict(x_train)

#from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print('*'*50)
r_acc=accuracy_score(y_pred_train,y_train)
print('Accuracy:',r_acc)
print('*'*50)
r_cnf=confusion_matrix(y_pred_train,y_train)
print('Confusion matrix:\n',r_cnf)
print('*'*50)
r_clf=classification_report(y_pred_train,y_train)
print('Classification Report:\n',r_clf)
print('*'*50)

**************************************************
Accuracy: 0.9831460674157303
**************************************************
Confusion matrix:
 [[441   9]
 [  3 259]]
**************************************************
Classification Report:
               precision    recall  f1-score   support

           0       0.99      0.98      0.99       450
           1       0.97      0.99      0.98       262

    accuracy                           0.98       712
   macro avg       0.98      0.98      0.98       712
weighted avg       0.98      0.98      0.98       712

**************************************************

# Testing Data Evaluation

In [33]:
y_pred=rf.predict(x_test)
print('*'*50)
rts_acc=accuracy_score(y_pred,y_test)
print('Accuracy:',rts_acc)
print('*'*50)
rts_cnf=confusion_matrix(y_pred,y_test)
print('confusion_matrix:\n',rts_cnf)
print('*'*50)
rts_clf=classification_report(y_pred,y_test)
print('Classification_report:\n',rts_clf)
print('*'*50)

**************************************************
Accuracy: 0.8100558659217877
**************************************************
confusion_matrix:
 [[93 22]
 [12 52]]
**************************************************
Classification_report:
               precision    recall  f1-score   support

           0       0.89      0.81      0.85       115
           1       0.70      0.81      0.75        64

    accuracy                           0.81       179
   macro avg       0.79      0.81      0.80       179
weighted avg       0.82      0.81      0.81       179

**************************************************

# 4)AdaBoost

In [32]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier(max_depth=2)
ab=AdaBoostClassifier(dt,random_state=23)
ab.fit(x_train,y_train)

AdaBoostClassifier(estimator=DecisionTreeClassifier(max_depth=2),
                   random_state=23)

# Training Data Evaluations

In [34]:
y_pred_train=ab.predict(x_train)

#from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
print('*'*50)
a_acc=accuracy_score(y_pred_train,y_train)
print('Accuracy:',a_acc)
print('*'*50)
a_cnf=confusion_matrix(y_pred_train,y_train)
print('Confusion matrix:\n',a_cnf)
print('*'*50)
a_clf=classification_report(y_pred_train,y_train)
print('Classification Report:\n',a_clf)
print('*'*50)

**************************************************
Accuracy: 0.922752808988764
**************************************************
Confusion matrix:
 [[427  38]
 [ 17 230]]
**************************************************
Classification Report:
               precision    recall  f1-score   support

           0       0.96      0.92      0.94       465
           1       0.86      0.93      0.89       247

    accuracy                           0.92       712
   macro avg       0.91      0.92      0.92       712
weighted avg       0.93      0.92      0.92       712

**************************************************

# Testing Data Evaluation

In [35]:
y_pred=ab.predict(x_test)
print('*'*50)
ats_acc=accuracy_score(y_pred,y_test)
print('Accuracy:',ats_acc)
print('*'*50)
ats_cnf=confusion_matrix(y_pred,y_test)
print('confusion_matrix:\n',ats_cnf)
print('*'*50)
ats_clf=classification_report(y_pred,y_test)
print('Classification_report:\n',ats_clf)
print('*'*50)

**************************************************
Accuracy: 0.7932960893854749
**************************************************
confusion_matrix:
 [[91 23]
 [14 51]]
**************************************************
Classification_report:
               precision    recall  f1-score   support

           0       0.87      0.80      0.83       114
           1       0.69      0.78      0.73        65

    accuracy                           0.79       179
   macro avg       0.78      0.79      0.78       179
weighted avg       0.80      0.79      0.80       179

**************************************************

# 5)KNN

In [36]:
from sklearn.neighbors import KNeighborsClassifier
kn=KNeighborsClassifier()
kn.fit(x_train,y_train)

KNeighborsClassifier()

# Training Data Eavluation

In [37]:
y_pred_train=kn.predict(x_train)
print('*'*50)
k_acc=accuracy_score(y_pred_train,y_train)
print('Accuracy:',k_acc)
print('*'*50)
k_cnf=confusion_matrix(y_pred_train,y_train)
print('COnfusion_matrix:\n',k_cnf)
print('*'*50)
k_clf=classification_report(y_pred_train,y_train)
print('Classification_report:\n',k_clf)
print('*'*50)

**************************************************
Accuracy: 0.848314606741573
**************************************************
COnfusion_matrix:
 [[401  65]
 [ 43 203]]
**************************************************
Classification_report:
               precision    recall  f1-score   support

           0       0.90      0.86      0.88       466
           1       0.76      0.83      0.79       246

    accuracy                           0.85       712
   macro avg       0.83      0.84      0.84       712
weighted avg       0.85      0.85      0.85       712

**************************************************

# Testing Data Evaluations

In [38]:
y_pred=kn.predict(x_test)
print('*'*50)
kts_acc=accuracy_score(y_pred,y_test)
print('Accuracy:',kts_acc)
print('*'*50)
kts_cnf=confusion_matrix(y_pred,y_test)
print('Confusion_matrix:\n',kts_cnf)
print('*'*50)
kts_clf=classification_report(y_pred,y_test)
print('Classification_report:\n',kts_clf)
print('*'*50)

**************************************************
Accuracy: 0.8268156424581006
**************************************************
Confusion_matrix:
 [[96 22]
 [ 9 52]]
**************************************************
Classification_report:
               precision    recall  f1-score   support

           0       0.91      0.81      0.86       118
           1       0.70      0.85      0.77        61

    accuracy                           0.83       179
   macro avg       0.81      0.83      0.82       179
weighted avg       0.84      0.83      0.83       179

**************************************************

# 6)Support Vector Machine

In [41]:
from sklearn.svm import SVC
sv=SVC()
sv.fit(x_train,y_train)

SVC()

# Training Data Evaluation

In [42]:
y_pred_train=sv.predict(x_train)
print('*'*50)
s_acc=accuracy_score(y_pred_train,y_train)
print('Accuracy:',s_acc)
print('*'*50)
s_cnf=confusion_matrix(y_pred_train,y_train)
print('COnfusion_matrix:\n',s_cnf)
print('*'*50)
s_clf=classification_report(y_pred_train,y_train)
print('Classification_report:\n',s_clf)
print('*'*50)

**************************************************
Accuracy: 0.8202247191011236
**************************************************
COnfusion_matrix:
 [[401  85]
 [ 43 183]]
**************************************************
Classification_report:
               precision    recall  f1-score   support

           0       0.90      0.83      0.86       486
           1       0.68      0.81      0.74       226

    accuracy                           0.82       712
   macro avg       0.79      0.82      0.80       712
weighted avg       0.83      0.82      0.82       712

**************************************************

# Testing Data Evaluations

In [43]:
y_pred=sv.predict(x_test)
print('*'*50)
sts_acc=accuracy_score(y_pred,y_test)
print('Accuracy:',sts_acc)
print('*'*50)
sts_cnf=confusion_matrix(y_pred,y_test)
print('Confusion_matrix:\n',sts_cnf)
print('*'*50)
sts_clf=classification_report(y_pred,y_test)
print('Classification_report:\n',sts_clf)
print('*'*50)

**************************************************
Accuracy: 0.8379888268156425
**************************************************
Confusion_matrix:
 [[98 22]
 [ 7 52]]
**************************************************
Classification_report:
               precision    recall  f1-score   support

           0       0.93      0.82      0.87       120
           1       0.70      0.88      0.78        59

    accuracy                           0.84       179
   macro avg       0.82      0.85      0.83       179
weighted avg       0.86      0.84      0.84       179

**************************************************

# Tuning The Best Model

In [44]:
#Random Forest Testing Accuracy : 81% ----- To Increase
#Random Forest Training Accuracy: 100% ---- To Decrease

In [45]:
from sklearn.model_selection import RandomizedSearchCV
grid={
    'n_estimators':range(1,200,1),
    
    'criterion':['gini','entropy'],
    'max_depth':range(1,50,1),
    'min_samples_split':range(1,10,1)
    
}

In [46]:
rs=RandomizedSearchCV(rf,param_distributions=grid,cv=6)
rs.fit(x_train,y_train)

RandomizedSearchCV(cv=6, estimator=RandomForestClassifier(random_state=23),
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': range(1, 50),
                                        'min_samples_split': range(1, 10),
                                        'n_estimators': range(1, 200)})

In [47]:
rs.best_params_

{'n_estimators': 41,
 'min_samples_split': 8,
 'max_depth': 17,
 'criterion': 'gini'}

In [48]:
rf1=RandomForestClassifier(random_state=21,n_estimators=41,
 min_samples_split= 8,
 max_depth= 17,
 criterion= 'gini')

In [49]:
rf1.fit(x_train,y_train)

RandomForestClassifier(max_depth=17, min_samples_split=8, n_estimators=41,
                       random_state=21)

# Train

In [51]:
y_pred_train=rf1.predict(x_train)
print('*'*50)
rf1_acc=accuracy_score(y_pred_train,y_train)
print('Accuracy:',rf1_acc)
print('*'*50)
rf1_cnf=confusion_matrix(y_pred_train,y_train)
print('COnfusion_matrix:\n',rf1_cnf)
print('*'*50)
rf1_clf=classification_report(y_pred_train,y_train)
print('Classification_report:\n',rf1_clf)
print('*'*50)

**************************************************
Accuracy: 0.9185393258426966
**************************************************
COnfusion_matrix:
 [[427  41]
 [ 17 227]]
**************************************************
Classification_report:
               precision    recall  f1-score   support

           0       0.96      0.91      0.94       468
           1       0.85      0.93      0.89       244

    accuracy                           0.92       712
   macro avg       0.90      0.92      0.91       712
weighted avg       0.92      0.92      0.92       712

**************************************************

# Test

In [52]:
y_pred=rf1.predict(x_test)
print('*'*50)
rf12_acc=accuracy_score(y_pred,y_test)
print('Accuracy:',rf12_acc)
print('*'*50)
rf12_cnf=confusion_matrix(y_pred,y_test)
print('Confusion_matrix:\n',rf12_cnf)
print('*'*50)
rf12_clf=classification_report(y_pred,y_test)
print('Classification_report:\n',rf12_clf)
print('*'*50)

**************************************************
Accuracy: 0.8379888268156425
**************************************************
Confusion_matrix:
 [[99 23]
 [ 6 51]]
**************************************************
Classification_report:
               precision    recall  f1-score   support

           0       0.94      0.81      0.87       122
           1       0.69      0.89      0.78        57

    accuracy                           0.84       179
   macro avg       0.82      0.85      0.83       179
weighted avg       0.86      0.84      0.84       179

**************************************************

In [53]:
x3

,cat_pipe__Sex,num_pipe__Fare,num_pipe__Pclass,num_pipe__Age,num_pipe__Parch
0,1.0,-0.502445,0.827377,-0.565736,-0.473674
1,0.0,0.786845,-1.566107,0.663861,-0.473674
2,0.0,-0.488854,0.827377,-0.258337,-0.473674
3,0.0,0.420730,-1.566107,0.433312,-0.473674
4,1.0,-0.486337,0.827377,0.433312,-0.473674
...,...,...,...,...,...
886,1.0,-0.386671,-0.369365,-0.181487,-0.473674
887,0.0,-0.044381,-1.566107,-0.796286,-0.473674
888,0.0,-0.176263,0.827377,-0.104637,2.008933
889,1.0,-0.044381,-1.566107,-0.258337,-0.473674
890,1.0,-0.492378,0.827377,0.202762,-0.473674

In [54]:
cols1=[]
for i in x3.columns:
    s=i.split('__')[1]
    cols1.append(s)
s='num_pipe__Pclass'
s.split('__')[1]

'Pclass'

In [55]:
cols1

['Sex', 'Fare', 'Pclass', 'Age', 'Parch']

In [56]:
xn=pd.DataFrame(x,columns=cols1)
xn

        Sex     Fare  Pclass   Age  Parch
0      male   7.2500       3  22.0      0
1    female  71.2833       1  38.0      0
2    female   7.9250       3  26.0      0
3    female  53.1000       1  35.0      0
4      male   8.0500       3  35.0      0
..      ...      ...     ...   ...    ...
886    male  13.0000       2  27.0      0
887  female  30.0000       1  19.0      0
888  female  23.4500       3   NaN      2
889    male  30.0000       1  26.0      0
890    male   7.7500       3  32.0      0

[891 rows x 5 columns]

In [57]:
cat1=[]
con1=[]
for i in xn.columns:
    if xn[i].dtypes=='object':
        cat1.append(i)
    else:
        con1.append(i)

In [58]:
cat1

['Sex']

In [59]:
from sklearn.preprocessing import OrdinalEncoder
num_pipe1=Pipeline(steps=[('impute',SimpleImputer(strategy='median')),('scaler',StandardScaler())])
cat_pipe1=Pipeline(steps=[('impute',SimpleImputer(strategy='most_frequent')),('encode',OrdinalEncoder())])
pre2=ColumnTransformer([('num_pipe1',num_pipe1,con1),('cat_pipe1',cat_pipe1,cat1)])

In [60]:
x5=pre2.fit_transform(xn)
cols2=pre2.get_feature_names_out()
cols2

array(['num_pipe1__Fare', 'num_pipe1__Pclass', 'num_pipe1__Age',
       'num_pipe1__Parch', 'cat_pipe1__Sex'], dtype=object)

In [61]:
x_new=pd.DataFrame(x5,columns=cols2)
x_new

,num_pipe1__Fare,num_pipe1__Pclass,num_pipe1__Age,num_pipe1__Parch,cat_pipe1__Sex
0,-0.502445,0.827377,-0.565736,-0.473674,1.0
1,0.786845,-1.566107,0.663861,-0.473674,0.0
2,-0.488854,0.827377,-0.258337,-0.473674,0.0
3,0.420730,-1.566107,0.433312,-0.473674,0.0
4,-0.486337,0.827377,0.433312,-0.473674,1.0
...,...,...,...,...,...
886,-0.386671,-0.369365,-0.181487,-0.473674,1.0
887,-0.044381,-1.566107,-0.796286,-0.473674,0.0
888,-0.176263,0.827377,-0.104637,2.008933,0.0
889,-0.044381,-1.566107,-0.258337,-0.473674,1.0
890,-0.492378,0.827377,0.202762,-0.473674,1.0

In [62]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_new,y,test_size=0.2,random_state=22)
la=LogisticRegression()
la.fit(x_train,y_train)

LogisticRegression()

In [63]:
y_pred23=la.predict(x_test)
y_pred23

array([1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 0], dtype=int64)

In [64]:
df2=pd.read_csv("C:\\Users\\shree kalika\\OneDrive\\Desktop\\deta science\\ethilive\\python,machine learning\\files\\project machine learning\\classifuication project\\test_titanic.csv")
df2

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [65]:
x5=pre2.transform(df2)
x5

array([[-0.49078316,  0.82737724,  0.39488658, -0.47367361,  1.        ],
       [-0.50747884,  0.82737724,  1.35550962, -0.47367361,  0.        ],
       [-0.45336687, -0.36936484,  2.50825727, -0.47367361,  1.        ],
       ...,
       [-0.50244517,  0.82737724,  0.70228595, -0.47367361,  1.        ],
       [-0.48633742,  0.82737724, -0.1046374 , -0.47367361,  1.        ],
       [-0.19824428,  0.82737724, -0.1046374 ,  0.76762988,  1.        ]])

In [66]:
x5=pd.DataFrame(x5,columns=cols2)
x5

,num_pipe1__Fare,num_pipe1__Pclass,num_pipe1__Age,num_pipe1__Parch,cat_pipe1__Sex
0,-0.490783,0.827377,0.394887,-0.473674,1.0
1,-0.507479,0.827377,1.355510,-0.473674,0.0
2,-0.453367,-0.369365,2.508257,-0.473674,1.0
3,-0.474005,0.827377,-0.181487,-0.473674,1.0
4,-0.401017,0.827377,-0.565736,0.767630,0.0
...,...,...,...,...,...
413,-0.486337,0.827377,-0.104637,-0.473674,1.0
414,1.544246,-1.566107,0.740711,-0.473674,0.0
415,-0.502445,0.827377,0.702286,-0.473674,1.0
416,-0.486337,0.827377,-0.104637,-0.473674,1.0
417,-0.198244,0.827377,-0.104637,0.767630,1.0

In [67]:
y_pred_new=la.predict(x5)
y_pred_new

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [68]:
sub_mission=pd.DataFrame(df2['PassengerId'])
sub_mission['Prediction']=y_pred_new
sub_mission

     PassengerId  Prediction
0            892           0
1            893           0
2            894           0
3            895           0
4            896           1
..           ...         ...
413         1305           0
414         1306           1
415         1307           0
416         1308           0
417         1309           0

[418 rows x 2 columns]